<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

  <appSettings>
    <!--公共通用配置 -->

    <!--当前站点的weburl地址，地址中的最后不能省掉 "/" -->
    <add key="webUrl" value="http://218.3.207.5:76/"/>
    
    
    <!--企业对接所需要的配置文件-->
    <add key="E.AgentID" value="6183360"/>
    <add key="E.CorpId" value="dinga9874ab96e30bc99"/>
    <add key="E.CorpSecret" value="g6l2BiemiFIB90ouysCYFq_bmi0zcKayCAMO82phMt5bnU2VygT2hcmshFYwGVko"/>
    

    <!--ISV对接所需要的配置文件-->
    <add key="ENCODING_AES_KEY" value="y4ipyv5hsip5y0ado7byunagpkvm5cv4bq9f1kqqzqu"/>
    
    <!-- 初次使用回调url验证有效性这里的值是  suite4xxxxxxxxxxxxxxx -->
    <add key="SUITE_KEY" value="suitex3iapsh4ezpbj4wg"/>
    <add key="SUITE_KEY_SECRET" value="dDaUdBGQX6RLaVbKZi4qQ8AV__4JrpPH_8UXTWHIysK7nl6FrS6lH3RP_En0VwAm"/>
    <add key="ENCODING_AES_KEY" value="t6bidxwi58u2ln5ssosyh9wam109b77kl35h4gl8ppe"/>
    <add key="Token" value="hwxxkj"/>
    
    
  </appSettings>

</configuration>
